@-webkit-keyframes check {
	0% {
		height: 0; width: 0;
	}
	25% {
		height: 0; width: .3em;
	}
	50% {
		height: .6em; width: .3em;
	}
}

@keyframes check {
	0% {
		height: 0; width: 0;
	}
	25% {
		height: 0; width: .3em;
	}
	50% {
		height: .6em; width: .3em;
	}
}

.checkbox .cb-control {
	display: none;
}

.cb-control:checked + label:after {
	display: inline-block;
	-webkit-animation: check 0.8s;
	        animation: check 0.8s;
}

.checkbox label {
	line-height: 1.44em;
	position: relative;
  padding-left: 1.5em;
}

.checkbox label:hover {
	cursor: pointer;
}

.checkbox label:before {
	content: '';
  position: absolute;
  left: 0;
  top: -.1em;
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	background-color: #fff;
	border: 1px solid lightsteelblue;
	border-radius: .2em;
}
.checkbox label:hover:before {
	box-shadow: 0 0 1px lightsteelblue;
}

.checkbox label:after {
	content: '';
	display: none;
	position: absolute;
	width: .3em;
	height: .6em;
	left:  .25em;
	top: .55em;
	border-top: .2em solid steelblue;
	border-right: .2em solid steelblue;
	-webkit-transform: scaleX(-1) rotate(135deg);
	    -ms-transform: scaleX(-1) rotate(135deg);
	        transform: scaleX(-1) rotate(135deg);
	-webkit-transform-origin: left top;
	    -ms-transform-origin: left top;
	        transform-origin: left top;
	-webkit-transition: all 1s ease;
	        transition: all 1s ease;
}